* {
    background-color: #f8f9fa;
    color: black;
}

.nav-item :hover {
    background-color: #5CB8E4;
    color: white !important;

}

.isActive {
    background-color: black;
    color: white !important;
}